.header-container{
    height: 100vh;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
} 
.header-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto 0;
    height: 100%;
    text-overflow: clip;
}
.header-desc h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 700;
}
.header-desc p{
    text-align: center;
    width: 40%;
    padding: 25px 0;
}
.button{
    padding: 15px 25px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}